.card1{
    background-image: url(cards.png);
    width: 139px;
    height: 190px;
    background-position: 428px 0px;  
 }
 .card2{
    background-image: url(cards.png);
    width: 139px;
    height: 190px;
    background-position: 853px -1394px;
    margin: -150px 40px;   
 }
 .card3{
    background-image: url(cards.png);
    width: 139px;
    height: 190px;
    background-position: 709px 785px;
    margin: -150px 80px;
 }
 .card4{
    background-image: url(cards.png);
    width: 139px;
    height: 190px;
    background-position: 997px 387px;
    margin: -150px 120px;
 } 
 .card5{
    background-image: url(cards.png);
    width: 139px;
    height: 190px;
    background-position: 1141px 188px;
    margin: -150px 160px;
 } 