.card1{
    background-image: url(cards.png);
    width: 140px;
    height: 190px;
    background-position: 430px 0px;  
 }
 .card2{
    background-image: url(cards.png);
    width: 140px;
    height: 190px;
    background-position: 856px -1392px;
    margin: -150px 40px;   
 }
 .card3{
    background-image: url(cards.png);
    width: 140px;
    height: 190px;
    background-position: 711px 787px;
    margin: -150px 80px;
 }
 .card4{
    background-image: url(cards.png);
    width: 140px;
    height: 190px;
    background-position: 999px 389px;
    margin: -150px 120px;
 } 
 .card5{
    background-image: url(cards.png);
    width: 140px;
    height: 190px;
    background-position: 1142px 190px;
    margin: -150px 160px;
 } 