




h4{font-family: 'Bad Script', cursive;
    text-indent: 25px;
    text-decoration: underline;

}
p.head{
    white-space: pre;
    text-align: right;
}
p.letter{
    font-family: 'Bad Script', cursive;
    text-indent: 25px;
}

