.all{
    background-color: azure;
}
.menu{
    width: 15em;
    background-color: bisque;
    float: left;
}
.content{
    margin-left: 15em;
    
}
.article{
    background-color: lavender;
    margin-bottom: .2em;
}
.footer{
    background-color:lightsteelblue;
}
.spacer{
    clear: both;
}
p{
    font-weight: bold;
}
img{
    float: right;
}
