.container{
    display: flex;
    background-color: beige;
    align-items: flex-start;
    /*flex-wrap: wrap;*/
}
.menu{
    order: 1;
    background-color: bisque;
}
.content{
    order: 2;
    flex-direction: column;
    background-color: azure;
}
.article{
    background-color: lavender;
    margin-bottom: .2em;
}
img{
    order: 3;
    float: right;
}
.spacer{
    clear: both;
}
.footer{
    background-color: lightsteelblue;
}
p{
    margin-top: 0%;
    font-weight: bold;
}